.calendar-app {
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.5rem;

  > main {
    height: calc(100% - 64px);

    > .app-name {
      display: flex;
      justify-content: space-between;
      text-align: center;
      background-color: #4ba792;
      color: #ffffff;
      padding: 4px;
      height: 40px;
      user-select: none;
      box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.75);

      > div {
        min-width: 40px;

        &.menu {
          cursor: pointer;
          transition-duration: 0.1s;
          padding-left: 4px;

          &:hover {
            padding-left: 0;
          }
        }
      }
    }

    > .container {
      height: calc(100% - 40px);
      overflow-y: scroll;
      padding: 8px;
    }
  }
}