.desk {
  position: fixed !important;
  top: 0 !important;
  left: 30vw !important;
  @include mobile {
    display: none;
  }
  user-select: none;
  &:before {
    @include laptop {
      content: '';
      position: fixed;
      pointer-events: none;
      right: 8%;
      width: 50%;
      top: 10%;
      height: 80%;

      background: url('./../media/title.png') center right;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  > div {
    position: absolute;
  }

  .memo {
    position: relative;
    font-size: 1.35em;
    font-weight: 700;
    width: 450px;
    height: 780px;
    padding: 42px 60px 36px 60px;
    background: url('./../media/clue.jpg') repeat;
    cursor: pointer;
    opacity: 0.975;

    //&:hover {
    //  box-shadow: 8px 8px 15px 3px rgba(0,0,0,0.5) !important;
    //}



    > div {
      width: 100%;
      height: 100%;
      overflow: scroll;

      li {
        padding-left: 1.5rem;
        text-indent: -1.5rem;
        margin-bottom: 1rem;

        &.done {
          text-decoration: line-through;
        }
      }
    }

    span {
      text-decoration: underline;
    }



    &.done {
      &:after {
        content: '';
        position: absolute;
        bottom: 52px;
        right: 52px;
        width: 40px;
        height: 40px;
        background: url('./../media/done-icon.png');
        background-size: contain;
      }
    }
  }

  .note {
    position: relative;
    font-size: 1.35rem;
    font-weight: 700;
    width: 550px;
    height: 800px;
    padding: 20px 50px 40px 50px;
    background-size: cover;
    background: url('./../media/note.jpg');
    cursor: pointer;
    box-shadow: 3px 3px 8px -2px rgba(0,0,0,0.5);
    opacity: 0.95;

    //&:hover {
    //  box-shadow: 8px 8px 15px 3px rgba(0,0,0,0.5) !important;
    //}

    li {
      padding-left: 1.5rem;
      text-indent: -1.5rem;
      margin-bottom: 1rem;
    }

    > div {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }

    span {
      color: #a74b4b;
    }
  }

  .photo {
    position: relative;
    padding: 20px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 3px 3px 8px -2px rgba(0,0,0,0.5);
    cursor: pointer;

    //&:hover {
    //  box-shadow: 8px 8px 15px 3px rgba(0,0,0,0.5) !important;
    //}

    > img {
      width: 360px;
      height: auto;
      background-size: contain;
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
      user-select: none;
      pointer-events: none;
    }

    > div {
      font-size: 1.25rem;
      padding-top: 8px;
      text-align: center;
      font-weight: 700;
    }
  }

  .animation-card {
    transition-duration: 1s;
    //transition-timing-function: ease-out;
    top: -10vh;
    left: 100vw;
    transform: rotate(180deg);
  }

  .animation-note {
    transition-duration: 0.75s;
    //transition-timing-function: ease-out;
    top: 20vh;
    left: 100vw;
    transform: rotate(60deg);
  }

  h1 {
    span {
      font-size: 1.5rem;
    }
  }

  p {
    line-height: 1.75;
  }

  strong {
    font-family: 'Caveat Brush', sans-serif;
    font-weight: 400;
    //color: #a74b4b;
  }



  a {
    text-decoration: underline;
  }
}

.pick {
  box-shadow: 8px 8px 15px 3px rgba(0,0,0,0.5) !important;
}