.footer {
  width: 100%;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  user-select: none;
  line-height: 0;

  display: flex;
  justify-content: space-between;
  padding: 0 6px;

  > div {
    width: 33.3%;
    text-align: center;

    >a, > div {
      margin: auto;
      width: 24px;
      cursor: pointer;

      &:hover {
        color: rgba(255, 255, 255, 0.75);
      }
    }

    > .back {
      display: block;
      margin-top: 12px;

      > img {
        width: 16px;
        height: 16px;
      }
    }

    > .home {
      display: block;
      margin-top: 12px;

      > img {
        width: 16px;
        height: 16px;
      }
    }

    > .info {
      display: block;
      margin-top: 10px;

      > img {
        width: 19px;
        height: 19px;
      }
    }
  }
}