.gallery-app {
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.5rem;

  > main {
    height: calc(100% - 64px);

    > .app-name {
      display: flex;
      justify-content: space-between;
      text-align: center;
      background-color: #000000;
      color: #ffffff;
      padding: 4px;
      height: 40px;
      user-select: none;
      box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.75);

      > div {
        min-width: 40px;

        &.menu {
          cursor: pointer;
          transition-duration: 0.1s;
          padding-left: 4px;

          &:hover {
            padding-left: 0;
          }
        }
      }
    }

    > .container {
      height: calc(100% - 40px);
      overflow-y: scroll;
      padding: 8px;

      &.image-detail {
        position: relative;
        background-color: #000000;
        width: 100%;
        padding: 0;
        overflow: hidden;

        > img {
          width: 100%;
          height: auto;
          user-select: none;
          pointer-events: none;
          //height: 404px;
          //transform: rotate(90deg);
          //transform-origin: 202px;
          //width: auto;
          ////height: auto;
          //border-left: 1px solid #000000;
          //border-right: 1px solid #000000;
        }
      }

      > div {
        display: flex;
        flex-wrap: wrap;

        .gallery-group-item {
          cursor: pointer;
          margin: 6px;
          width: 116px;
          height: 116px;

          @include small {
            width: 104px;
            height: 104px;
          }



          transition-duration: 0.1s;

          > img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 8px;
            background-color: #ffffff;
            pointer-events: none;
          }

          &:hover {
            transform: scale(1.025);
          }
        }
      }


    }
  }
}