.header {
  width: 100%;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  user-select: none;
  pointer-events: none;

  display: flex;
  justify-content: space-between;
  padding: 0 6px;

  font-size: 1rem;
  line-height: 1;

  > div {
    width: 33.3%;
    text-align: center;
    margin-top: 5px;

    &:first-child {
      text-align: left;

      > img {
        height: 15px;
        width: 15px;
      }
    }

    &:last-child {
      text-align: right;

      > img {
        margin-top: 2px;
        height: 12px;
        width: 26px;
      }
    }
  }
}