.home-screen {
  height: 100%;
  user-select: none;
  font-size: 1.5rem;

  > main {
    height: calc(100% - 64px);
    padding: 8px;
    overflow: hidden;

    > .container {
      display: flex;
      flex-wrap: wrap;

      > .app {
        cursor: pointer;
        margin-left: 4px;
        margin-right: 4px;
        margin-top: 16px;
        width: 76px;
        height: 120px;
        opacity: 0.95;

        @include laptop {
          margin-left: 8px;
          margin-right: 8px;
        }

        transition-duration: 0.15s;

        &:hover {
          transform: scale(1.025);
        }

        > .app-icon {
          margin-top: 10px;
          margin-left: 10px;
          width: 70px;
          height: 70px;
          border-radius: 16px;
          background-color: #ffffff;

          border: 1px solid #000000;

          &.green {
            background-color: #7aa300;
          }

          &.yellow {
            background-color: #e3ad0d;
          }

          &.blue {
            background-color: #008ed4;
          }

          &.cyan {
            background-color: #00a099;
          }

          &.pink {
            background-color: #da4e88;
          }

          &.black {
            background-color: #586e75;
          }

          &.purple {
            background-color: #6675c5;
          }

          &.orange {
            background-color: #ce7846;
          }

          &.red {
            background-color: #b55050;
          }

          &.gray-1 {
            background-color: #93a1a1;
          }

          &.gray-2 {
            background-color: #839496;
          }

          &.gray-3 {
            background-color: #657b83;
          }

          &.gray-4 {
            background-color: #586e75;
          }

          &.beige-1 {
            background-color: #fdf6e3;
          }

          &.beige-2 {
            background-color: #eee8d5;
          }

          > img {
            width: 100%;
            height: 100%;
            padding: 4px;
            pointer-events: none;
          }
        }

        > .app-name {
          margin-left: 4px;
          width: 76px;
          padding-top: 6px;
          font-size: 1.1rem;
          line-height: 1.1;
          text-align: center;
          font-weight: 400;
          //white-space: nowrap;
          //overflow: hidden;
          //text-overflow: ellipsis;
          color: #ffffff;

          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px 0px 0 rgba(0, 0, 0, 0.5), 0px 1px 0 rgba(0, 0, 0, 0.5), -1px 0px 0 rgba(0, 0, 0, 0.5), 0px -1px 0 rgba(0, 0, 0, 0.5);
        }
      }
    }
  }


  @include mobile {

  }

  @include laptop {

  }
}