.iframe-app {
  height: 100%;
  background-color: #000000;
  color: #000000;
  font-size: 1.5rem;
  line-height: 0;

  > div.detail {
    background-size: cover;
    background: #ffffff url('./../media/note.jpg');
    height: calc(100% - 64px);
    border-width: 0;
    color: #000000;
    padding: 0 20px;
    overflow-y: scroll;
    line-height: 1.75;

    > div {
      font-size: 1.35rem;
      font-weight: 700;
      //margin-top: 16px;

      h1 {
        span {
          font-size: 1.5rem;
        }
      }
      p {
        line-height: 1.75;
      }
      strong {
        font-family: 'Caveat Brush', sans-serif;
        font-weight: 400;
        //color: #a74b4b;
      }
      span {
        color: #a74b4b;
      }
      li {
        padding-left: 1.5rem;
        text-indent: -1.5rem;
        margin-bottom: 1rem;
      }
      a {
        text-decoration: underline;
      }
    }
  }

  > div.rotate {
    width: 100%;
    height: calc(100% - 64px);
    overflow: hidden;
    > img {
      width: 100%;
      pointer-events: none;
      user-select: none;
    }
  }

  > iframe {
    background-color: #000000;
    height: calc(100% - 64px);
    border-width: 0;

    overflow: hidden;

    &.rotate {
      @include mobile {
        width: 100%;
        height: calc(100% - 64px);
      }

      @include laptop {
        transform: rotate(90deg);
        padding-top: 240px;
      }
    }

    &:not(.rotate) {
      width: 100%;
    }
  }
}