@import './constants';

// Fonts
@import './font';

// Media Queries
@import './media';

// Animations
@import './animations';

// Baseline
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html {
  height: 100vh;
  @include mobile {
    width: 100vw;
    height: 100%;
  }
  @include laptop {
    height: 100vh;
  }
}

body {
  opacity: 0;

  &.show {
    opacity: 1;
  }

  padding: 0;
  font-family: 'Annie Use Your Telescope', sans-serif;
  font-weight: 300;
  color: #000000;
  background-color: #000000;
  overflow: hidden;
  letter-spacing: 1px;

  @include mobile {
    width: 100vw;
    height: 100%;
  }

  @include laptop {
    margin-left: 13%;
    width: 480px;
    height: 970px;

    background: url('./../media/background.jpg') center;
    background-size: cover;

    &:after {
      position: fixed;
      bottom: 8px;
      right: 8px;
      color: #ffffff;
      content: '© 2018 Karl Kim'
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @include mobile {
    height: 100%;
  }

  > div {
    width: 100%;
    height: 100%;
    overflow: hidden;

    > div {
      @include mobile {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      @include laptop {
        position: fixed;
        top: 50vh;
        left: 30vw;
      }
    }
  }
}

#app {
  cursor: pointer;
    //&::after,
    //&::before {
    //  content: '';
    //  width: 1px;
    //  position: absolute;
    //  top: -1px;
    //  bottom: -1px;
    //}
    //
    //&::after {
    //  left: -2px;
    //  background-color: #ff536b;
    //  animation: colorshift-red 2.6s infinite;
    //  animation-timing-function: step-end;
    //}
    //
    //&::before {
    //  right: -2px;
    //  background-color: #3ffeff;
    //  animation: colorshift-blue 2.6s infinite;
    //  animation-timing-function: step-end;
    //}



  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 460px;
    height: 920px;
    overflow: hidden;
    padding: 0;
    background-image: url('./../media/glass.png');
    pointer-events: none;

    @include mobile {
      width: 100vw;
      height: 100vh;
      background-image: url('./../media/glass-mobile.png');
      background-size: cover;
    }
  }

  @include mobile {
    width: 100vw;
    height: 100%;
  }

  @include laptop {
    position: fixed;
    top: calc(50% - 460px);
    left: 15%;
    width: 460px;
    height: 920px;
    overflow: hidden;
    background-image: url('./../media/phone-layout-3.png');
    padding: 92px 36px 120px 19px;
    transform: rotate(-6deg);

    transition-duration: 0.75s;
  }

  &.horizontal {
    @include laptop {
      transform: rotate(-92.5deg);
    }
  }

  &.lock {
    @include laptop {
      transition-duration: 0s;
    }
  }

  > div {
    width: 100%;
    height: 100%;
    position: relative;

    background: url('./../media/wallpaper.jpg') center;
    background-size: cover;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.75);

    overflow: hidden;

    > div {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.75);

      -webkit-filter: url('#filter');
      filter: url('#filter');
    }
  }
}

.power-button {
  position: fixed;
  top: 210px;
  right: 0;
  width: 20px;
  height: 72px;
  z-index: 9999;

  @include mobile {
    visibility: hidden;
  }
}

button {
  &:active, &:focus, &:hover {
    outline: none;
  }
}

.warning-background {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  &:before {
    @include laptop {
      content: '';
      position: fixed;
      pointer-events: none;
      right: 20vw;
      width: 50%;
      top: 10%;
      height: 80%;

      background: url('./../media/title.png') center right;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.warning {
  @include mobile {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 100vw;
    height: 100vh;

    padding: 20vh 10vw 10vh 10vw;
    background: url('./../media/memo.png') center;
    background-size: cover;

    font-size: 1.5rem;
    font-weight: 700;
  }

  @include laptop {
    position: fixed !important;
    left: 20vw !important;
    top: 250px !important;
    font-size: 1.5em;
    font-weight: 700;
    width: 360px !important;
    height: 360px !important;;
    padding: 50px 60px 36px 60px;
    background: url('./../media/memo.png') center;
    background-size: contain;
    opacity: 0.975;
    cursor: default;
  }


  > strong {
    color: #a74b4b;
  }
}

main {
  overflow-y: scroll !important;
}
// Components
@import './locked-screen';
@import './home-screen';
@import './header';
@import './footer';
@import './message-app';
@import './calendar-app';
@import './big-calendar';
@import './gallery-app';
@import './iframe-app';
@import './desk';