.locked-screen {
  height: 100%;
  background: url('./../media/wallpaper-blur.jpg') center;
  background-size: cover;
  padding: 48px;
  user-select: none;
  font-weight: 700;

  @include mobile {
    padding-top: 8px;
  }

  > .current-time {

    margin-top: 32px;

    @include mobile {
      margin-top: 2.5vh;
    }

    text-align: center;
    font-size: 3.75rem;
    margin-bottom: 10px;

    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5), -1px -1px 0 rgba(255, 255, 255, 0.5), 1px 0px 0 rgba(255, 255, 255, 0.5), 0px 1px 0 rgba(255, 255, 255, 0.5), -1px 0px 0 rgba(255, 255, 255, 0.5), 0px -1px 0 rgba(255, 255, 255, 0.5);
  }

  > .current-date {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    @include mobile {
      margin-bottom: 1vh;
    }

    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5), -1px -1px 0 rgba(255, 255, 255, 0.5), 1px 0px 0 rgba(255, 255, 255, 0.5), 0px 1px 0 rgba(255, 255, 255, 0.5), -1px 0px 0 rgba(255, 255, 255, 0.5), 0px -1px 0 rgba(255, 255, 255, 0.5);
  }

  > .pressed-numbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @include mobile {
      margin-bottom: 1vh;
    }

    > div {
      text-align: center;
      width: 64px;
      height: 80px;
      padding: 26px;
      padding-left: 20px;
      font-size: 2rem;
      color: #ffffff;

      &.valid {
        color: #000000;
        font-size: 2.25rem;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5), -1px -1px 0 rgba(255, 255, 255, 0.5), 1px 0px 0 rgba(255, 255, 255, 0.5), 0px 1px 0 rgba(255, 255, 255, 0.5), -1px 0px 0 rgba(255, 255, 255, 0.5), 0px -1px 0 rgba(255, 255, 255, 0.5);
      }
    }
  }

  > .number-pads {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    > div {
      width: 80px;
      height: 80px;
      padding: 2px 26px;
      text-align: center;

      font-size: 2rem;

      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5), -1px -1px 0 rgba(255, 255, 255, 0.5), 1px 0px 0 rgba(255, 255, 255, 0.5), 0px 1px 0 rgba(255, 255, 255, 0.5), -1px 0px 0 rgba(255, 255, 255, 0.5), 0px -1px 0 rgba(255, 255, 255, 0.5);

      &:not(.empty-pad) {
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 50%;
        }
      }
    }

    .letters {
      font-size: 1rem;

      > .highlight1 {
        animation: flicker1;
        animation-duration: 15s;
        animation-iteration-count: infinite;
      }

      > .highlight2 {
        animation: flicker2;
        animation-duration: 12s;
        animation-iteration-count: infinite;
      }

      > .highlight3 {
        animation: flicker3;
        animation-duration: 14s;
        animation-iteration-count: infinite;
      }

      > .highlight4 {
        animation: flicker4;
        animation-duration: 13s;
        animation-iteration-count: infinite;
      }
    }
  }

  transition-delay: 1s;
  transition-duration: 0.5s;
  transform: scale(1);
  opacity: 1;

  &.hide {
    transform: scale(1.25);
    opacity: 0;
  }

  @include mobile {

  }

  @include laptop {

  }
}