@mixin small {
  @media (max-width: #{$mobile-min-width - 1px}) {
    @content;
  }
}


@mixin mobile {
  @media (max-width: #{$laptop-min-width - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-min-width}) {
    @content;
  }
}