.message-app {
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.5rem;




  > main {
    height: calc(100% - 64px);

    > .app-name {
      display: flex;
      justify-content: space-between;
      text-align: center;
      background-color: #a74b4b;
      color: #ffffff;
      padding: 4px;
      height: 40px;
      user-select: none;
      box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.75);

      > div {
        min-width: 40px;

        &.menu {
          cursor: pointer;
          transition-duration: 0.1s;
          padding-left: 4px;

          &:hover {
            padding-left: 0;
          }
        }
      }
    }

    > .container {
      height: calc(100% - 40px);

      &.message-thread {
        height: calc(100% - 80px);
      }

      overflow-y: scroll;
      padding: 8px;

      .message-group {
        user-select: none;
        cursor: pointer;

        padding: 8px 16px 12px 16px;

        border-bottom: 1px solid #000000;
        //&:not(:last-child) {
        //  border-bottom: 1px solid #000000;
        //}

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

        > .message-label {
          display: flex;
          justify-content: space-between;

          font-weight: 700;

          > .message-timestamp {
            padding-top: 4px;
            font-size: 1rem;
          }
        }
      }

      .message-value {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.25rem;
      }

      .message-thread-item {
        margin: 8px;
        > div {
          max-width: 80%;
          display: inline-block;
          border: 1px dashed #000000;
          border-radius: 8px;
          margin: 8px 0;
          padding: 8px 16px;
          font-size: 1.25rem;
          background-color: rgba(0, 0, 0, 0.1);

          > .value {
            font-weight: 700;
            text-align: left;

            > span {
              color: #a74b4b;
            }
          }

          > .username {
            margin-top: 8px;
            font-size: 1rem;
          }
        }



        &.right {

          text-align: right;

          > div {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }

      .last-updated {
        font-size: 1rem;
        text-align: center;
      }

      .bottom-padding {
        visibility: hidden;
      }
    }

    > .text-input {
      display: flex;
      width: 100%;
      height: 40px;
      border-top: 1px solid #000000;
      font-size: 1.25rem;

      font-family: 'Annie Use Your Telescope', sans-serif;


      > .text {
        font-family: 'Annie Use Your Telescope', sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        margin: 2px;
        padding: 4px 8px;
        width: calc(100% - 40px);
        outline: none;
        border: none;
        overflow: auto;
        &:active {
          outline: none;
        }
      }

      > .button {
        padding: 6px;
        width: 80px;
        user-select: none;



        > div {
          background-color: #a74b4b;
          border-radius: 12px;
          text-align: center;
          color: #ffffff;
          cursor: pointer;

          transition-duration: 0.1s;
          transform: scale(1);

          &.disabled {
            visibility: hidden;
          }

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}